<header>
    <img src="images/website-header.png" alt="layout of ingedrients">
</header>

<nav>
    <div class="container-fluid">
        <ul class="navigation">
            <li><a href="./">Home</a></li> <!-- nav bar hrefs nog niet goed! moet naar deze server/ verwijzen -->
            <li><a href="./starters">Starters</a></li> <!-- deze moet naar /starters verwijzen-->
            <li><a href="./maincourses">Main courses</a></li>
            <li><a href="./desserts">Desserts</a></li>
            <li><a href="./plot">Nutrition Values</a></li>
            <li><a href="./recap">Recap</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./products"><i class="fas fa-shopping-cart"></i> Products</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> User<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a id="loginButton" href="./login">Login</a></li>
                    <li id="editProfileButton">Edit My Profile</li>
                    <li id="historyButton">Order History</li>
                    <li role="separator" class="divider"></li>
                    <li id="logoutButton">Log out</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<script src="libraries/jquery.min.js"></script>
<script type=text/javascript src="javascripts/navbar.js"></script>

