<!-- this file contains the content of the about page -->

<ul class="context-menu">
    <li data-action="bold" onclick="functionBold()">Bold</li>
    <li data-action="italic" onclick="functionItalic()">Italic</li>
    <li data-action="pink" onclick="functionColorPink()">Text Color: Pink</li>
    <li data-action="green" onclick="functionColorGreen()">Text Color: Green</li>
    <li data-action="blue" onclick="functionColorBlue()">Text Color: Blue</li>
</ul>

<article>
    <h1>Hello lovely people!</h1>
    <p> We are Amber and Anneloes and if you want to know more about the people behind Fast Dining, we recommend you to keep reeding!
        We are two passionate students from the University of Utrecht that both love to cook.
        With this website we want to pass over that excitement for food and make more people enjoy it the way we do.
        With the quick and easy recipes we post, cooking does not have to take up a lot of your time.
        We know everybody has a busy lifestyle these days and does not necessarily want to spend their little free time in the kitchen.
        Especially when you are with friends! So no longer doubt, and just pick a recipes from the site. We have recipes for all courses.
        This way you can make your own three-course dinner and impress everyone around you, with little effort!
        <br> <br>
        Love, Amber & Anneloes
    </p>

    <br>

    <p> If you want to get to know us better, below sit section are the links to our Facebook pages. </p>

    <a href="https://www.facebook.com/amber.elferink">
        <img class="icon" src="images/facebook.png" alt="Amber Elferink">
    </a> : Amber Elferink


    <a href="https://www.facebook.com/anneloes.meijer.9">
        <img class="icon" src="images/facebook.png" alt="Anneloes Meijer">
    </a> : Anneloes Meijer
</article>
