<!-- this file contains the content of the desserts page -->
<ul class="context-menu">
    <li data-action="bold" onclick="functionBold()">Bold</li>
    <li data-action="italic" onclick="functionItalic()">Italic</li>
    <li data-action="pink" onclick="functionColorPink()">Text Color: Pink</li>
    <li data-action="green" onclick="functionColorGreen()">Text Color: Green</li>
    <li data-action="blue" onclick="functionColorBlue()">Text Color: Blue</li>
</ul>

<h3>Jump to: <a href="#dessert1">Chocolate Mouse</a>, <a href="#dessert2">Blackberry Fool</a>, <a href="#dessert3">Double Chocolate Brownies </a></h3>

<article>
    <h1 id="dessert1">Cherry Chocolate Mouse</h1>
    <h3>It serves 6 people and takes 30 minutes to cook.</h3>

    <!--copied from youtube embed --->
    <iframe id="displayed" src="https://www.youtube.com/embed/5urZHMaTYOA" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <img  class=displayed src="images/cherrychocolatemouse.jpg" alt="chocolate mouse">

    <h2>Ingredients (Just five!)</h2>
    <ul class="ingredients">
        <li>200 g quality dark chocolate</li>
        <li>400 g pitted cherries in syrup</li>
        <li>200 ml double cream</li>
        <li>4 large free-range eggs</li>
        <li>2 tablespoons of golden caster sugar</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Melt the chocolate in a heatproof bowl over a pan of gently simmering water, then remove to cool for 10 minutes. Meanwhile, simmer the cherries and their syrup in a non-stick frying pan on a medium heat until thick, then remove.</li>
        <li>Whip the cream to very soft peaks. Separate the eggs, add the yolks to the cream with the sugar, and whisk to combine. Add a pinch of sea salt to the whites and, with a clean whisk, beat until super-stiff. Fold the cooled chocolate into the cream, then very gently fold that through the egg whites with a spatula.</li>
        <li>Divvy up the mousse between six glasses or bowls, interspersing the cherries and syrup throughout, and finishing with a few nice cherries on top.</li>
    </ol>
    Credits: <a href="https://www.jamieoliver.com/recipes/chocolate-recipes/cherry-chocolate-mousse/" target="_blank">Jamie Oliver</a>
</article>

<article>
    <h1 id="dessert2"> Blackberry Fool</h1>
    <h3>It serves 6-8 people and takes 20 minutes to cook.</h3>
    <img class=displayed src="images/blackberryfool.jpg" alt="blackberry desert" >

    <h2>Ingredients</h2>
    <ul class="ingredients">
        <li>1 vanilla pod</li>
        <li>500 g blackberries</li>
        <li>100 g caster sugar</li>
        <li>1 lemon</li>
        <li>330 ml double cream</li>
        <li>200 ml fat-free Greek yogurt</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Halve, the vanilla pod and scrape out the seeds, then place in a large pan along with 350g of the berries, the sugar and lemon juice. Bring to the boil over a medium heat. Simmer for 3 to 4 minutes, or until syrupy and the berries are soft but holding their shape. Set aside to cool.</li>
        <li>In a large bowl, whisk the cream to form peaks, fold through the yogurt and swirl through a third of the syrup.</li>
        <li>Layer the rest of the syrup and cream in dessert glasses, garnish with syrup and fresh berries.</li>
    </ol>
    Credits: <a href="https://www.jamieoliver.com/recipes/fruit-recipes/blackberry-fool/" target="_blank">Jamie Oliver</a>
</article>

<article>
    <h1 id="dessert3"> Double Chocolate Brownies</h1>
    <h3>It serves 12 people and takes 50 minutes to cook. </h3>
    <img class=displayed src="images/doublechocbrownies.jpg" alt="blackberry desert">

    <h2>Ingredients</h2>
    <ul class="ingredients">
        <li>180 g butter, plus extra for greasing</li>
        <li>150 g self-raising flour, plus extra for dusting</li>
        <li>300 g sugar</li>
        <li>half a teaspoon of vanilla extract</li>
        <li>3 large free-range eggs</li>
        <li>75 g dark chocolate</li>
        <li>75 g white chocolate</li>
        <li>100 g hazelnuts</li>
        <li>1 tablespoon cacoa powder</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Preheat the oven to 170ºC/gas 3. Grease and dust a 15cm x 25cm baking dish.</li>
        <li>Melt the butter and sugar in a pan over a medium heat. Stir in the flour and vanilla, and crack in the eggs, then divide between 2 bowls.</li>
        <li>Chop the dark and white chocolate, keeping them separate. Chop the nuts.</li>
        <li>Mix the cocoa, dark chocolate and half the nuts into one bowl, then stir the white chocolate and remaining nuts into the other. Place alternate spoonfuls into the prepared dish, swirling it through.</li>
        <li>Bake for 30 to 40 minutes, or until an inserted skewer comes out clean.</li>
    </ol>
    Credits: <a href="https://www.jamieoliver.com/recipes/chocolate-recipes/double-choc-brownies/" target="_blank">Jamie Oliver</a>
</article>
