

<ul class="context-menu">
    <li data-action="bold" onclick="functionBold()">Bold</li>
    <li data-action="italic" onclick="functionItalic()">Italic</li>
    <li data-action="pink" onclick="functionColorPink()">Text Color: Pink</li>
    <li data-action="green" onclick="functionColorGreen()">Text Color: Green</li>
    <li data-action="blue" onclick="functionColorBlue()">Text Color: Blue</li>
</ul>

<h3>Jump to: <a href="#maincourse1">Gnocchi with Spinach</a>, <a href="#maincourse2"> Tortilla wraps</a>,  <a href="#maincourse3">Pepper soup</a> </h3>

<article>
    <h1 id="maincourse1">Gnocchi with Spinach, Ricotta, Parmesan cheese and Pine Nuts</h1>
    <h3>It serves one person and takes 10 minutes to cook. </h3>
    <img class= displayed src="images/gnocchi_ricotta_spinach_vega-760x440.jpg" alt="gnocchi with spinach and ricotta">

    <h2>Ingredients</h2>

    <ul class="ingredients">
        <li>Hand of gnocchi</li>
        <li>Two hands fresh spinach</li>
        <li>2 tablespoons ricotta</li>
        <li>Hand of parmesan cheese</li>
        <li>1 tablespoon pine nuts</li>
        <li>½ lemon</li>
        <li>Some pepper</li>
        <li>Some fresh parsley</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Cook the gnocchi in 2-4 minutes. Stir-fry the spinach with olive oil until it shrinks down.</li>
        <li>Roast some pine nuts in an old frypan (no oil, and make sure they don’t burn).</li>
        <li>Add some pepper to it.  Pour the water of the gnocchi and add it to the spinach.</li>
        <li>Not mandatory: Stir-fry it for a few additional minutes, so the gnocchi gets slightly crispy.</li>
        <li>Place te gnocchi and spinach on a plate, scoop some ricotta over it, add quite some parmesan cheese flakes and top it off with some pine nuts.</li>
        <li>DONE!</li>
    </ol>
    Credits: <a href=https://gewoonwateenstudentjesavondseet.nl/2014/03/vega-gnocchi-met-spinazie-ricotta.html target="_blank">Leonie ter Veld</a>
</article>

<article>
    <h1 id="maincourse2">Tortilla wraps with parma ham, rucola, mozzarella, parmesan cheese and pine nuts</h1>
    <h3>It serves 1 person and takes 15 minutes to cook.</h3>
    <img class=displayed src="images/tortilla_pizza_wrap_parma_ham_rucola_mozzarella_parmesan_cheese_pine_nuts.jpg" alt="tortilla pizza's with parma ham, rucola, parmesan cheese and pine nuts">

    <h2>Ingredients</h2>
    <ul class="ingredients">
        <li>3-4 wraps</li>
        <li>passata di pomodoro (tomato purée)</li>
        <li>buffalo mozzarella</li>
        <li>parma ham</li>
        <li>rucola salad</li>
        <li>pine nuts</li>
        <li>Italian Flakes (parmesan cheese)</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Spread 3 Tblsp passata di pomodoro on the wrap.</li>
        <li>Add three slices of buffalo mozzarella and put it in the oven for 10 minuts</li>
        <li>When it is warm and crispy, add parma ham, rucola, pine nuts and Italian Flakes. </li>
        <li>3-4 wraps will be enough for one person</li>
    </ol>

    Credits: <a href=https://gewoonwateenstudentjesavondseet.nl/2012/10/tortilla-pizza-met-parmaham-rucola.html target="_blank">Leonie ter Veld</a>
</article>

<article>
    <h1 id="maincourse3">Pepper soup</h1>
    <h3>It serves 1 person and takes 15 minutes to cook.</h3>
    <img class=displayed src="images/pepper_soup_creme_fraiche_parmasan_cheese.jpg" alt="Pepper soup with creme fraiche">

    <h2>Ingredients</h2>
    <ul class="ingredients">
        <li>1 onion</li>
        <li>1 clove of garlic</li>
        <li>1 red pepper</li>
        <li>½ yellow/orange pepper</li>
        <li>1 tablespoon sour cream</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Bake the onion, clove of garlic, 1 red pepper and 1/2 yellow pepper in pieces in a pan with olive oil.</li>
        <li>Add water and a vegetable stock cube until the ingredients are barely submerged.</li>
        <li>Let it simmer, mash the soup and add some sour cream while serving it.</li>
    </ol>

    Credits: <a href=https://gewoonwateenstudentjesavondseet.nl/2013/01/vega-paprikasoep-met-krokante-parmezaan.html target="_blank">Leonie ter Veld</a>
</article>
