
<h1>Recipe nutrients</h1>
<section>

    <figure class="combinedPlots">
        <figure class="plotCalories"></figure>
        <figure class="plotIngredients"></figure>
    </figure>

    <p><a href="http://www.myfitnesspal.com/food/calories/157795851">Data from myfitnesspal.com</a> </p>

    <p class="graphControls">
        <input type="checkbox" title="Add watermelon to graph" class="melon melonsalad" checked> melon <br>
        <input type="checkbox" title="Add feta to graph" class="feta melonsalad" checked> feta   <br>
        <input type="checkbox" title="Add red onion to graph" class="redOnion melonsalad"> red onion  <br>
        <input type="checkbox" title="Add mint to graph" class="mint melonsalad"> mint  <br>
        <input type="checkbox" title="Add olive oil to graph" class="oliveoil melonsalad"> olive oil <br>
        <br>
        <input type="checkbox" title="Add white onion to graph" class="whiteonion peppersoup">white onion   <br>
        <input type="checkbox" title="Add garlic to graph" class="garlic peppersoup">garlic   <br>
        <input type="checkbox" title="Add red pepper to graph" class="redpepper peppersoup" checked> red pepper <br>
        <input type="checkbox" title="Add yellow pepper to graph" class="yellowpepper peppersoup"> yellow pepper  <br>
        <input type="checkbox" title="Add sourcreme to graph" class="sourcreme peppersoup"> sour creme  <br>
        <br>
        <input type="checkbox" title="Add chocolate to graph" class="chocolate brownies">  chocolate  <br>
        <input type="checkbox" title="Add cherries to graph" class="cherries brownies"> cherries <br>
        <input type="checkbox" title="Add double cream to graph" class="doublecream brownies"> double cream  <br>
        <input type="checkbox" title="Add eggs to graph" class="eggs brownies"> eggs  <br>
        <input type="checkbox" title="Add golden sugar to graph" class="goldensugar "> golden sugar   <br>
    </p>

</section>