
    <section id="loginsection" > <!-- form cannot be used since it will place the inserted values in the link. Using action will send user to the link. Instead it is handled with ajax in javascripts/register.js-->
        <div class="input">
            <label>First Name:</label> <BR>
            <p id="currentFirstName"></p>
            <input class="inputlabel"  type="text" id="editfirstname" placeholder="your first name" required>
        </div>
        <div class="input">
            <label>SurName</label> <BR>
            <p id="currentSirName"></p>
            <input class="inputlabel"  type="text" id="editsurname" placeholder="your surname" required>
        </div>
        <div class="input">
            <label>Email</label> <BR>
            <p id="currentEmail"></p>
            <input class="inputlabel"  type="email" id="editemail" placeholder="your email address" required>
        </div>
        <div class="input">
            <label>Username</label> <BR>
            <p id="currentFirstName"></p>
            <input class="inputlabel"  type="text" id="editusername" placeholder="your login name" required>
        </div>
        <div class="input">
            <label>Password</label> <BR>
            <input class="inputlabel"  type="password" id="editpassword" name="password" placeholder="your password" required>
        </div>
        <div class="input">
            <label>Confirm Password</label> <BR>
            <input class="inputlabel"  type="password" id="editconfirmPassword" name="confirmPassword" placeholder="confirm your password" required>
        </div>

        <button class="profilebutton" id="sendButton">Edit My Profile</button>
    </section>
