
<h1>{{ title }}</h1>
{{# if success }}
    <section class="success">
        <h2>Succesfull validation</h2>
    </section>
{{ else }}
    {{# if errors}}
        <section class="errors">
            <ul>
                {{# each errors}}
                    <li>
                        {{this.msg}}
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
    <section> <!-- form cannot be used since it will place the inserted values in the link. Using action will send user to the link. Instead it is handled with ajax in javascripts/register.js-->
        <div class="input">
            <label>First Name</label>
            <input type="text" id="firstname" placeholder="your first name">
        </div>
        <div class="input">
            <label>SurName</label>
            <input type="text" id="surname" placeholder="your surname">
        </div>
        <div class="input">
            <label>Email</label>
            <input type="text" id="email" placeholder="your email address">
        </div>
        <div class="input">
            <label>Username</label>
            <input type="text" id="username" placeholder="your login name">
        </div>
        <div class="input">
            <label>Password</label>
            <input type="password" id="password" name="password" placeholder="your password">
        </div>
        <div class="input">
            <label>Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirm your password">
        </div>

        <button onclick="register()">Sign up</button>
    </section>
{{/if}}