
<ul class="context-menu">
    <li data-action="bold" onclick="functionBold()">Bold</li>
    <li data-action="italic" onclick="functionItalic()">Italic</li>
    <li data-action="pink" onclick="functionColorPink()">Text Color: Pink</li>
    <li data-action="green" onclick="functionColorGreen()">Text Color: Green</li>
    <li data-action="blue" onclick="functionColorBlue()">Text Color: Blue</li>
</ul>

<h3>Jump to: <a href="#starter1">Watermelon and Feta Salad</a>, <a href="#starter2">Prawn Cocktail</a>, <a href="#starter3">Cheese and Bacon Pinwheels</a></h3>

<article>
    <h1 id="starter1">Watermelon and Feta Salad</h1>
    <h3>It serves 4-6 people and takes 10 minutes to cook.</h3>
    <img class=displayed src="images/watermelon.jpg" alt="watermelon saled starter">

    <h2>Ingredients</h2>
    <ul class="ingredients">
        <li>700 g watermelon</li>
        <li>1 small red onion</li>
        <li>180 g feta cheese</li>
        <li>1 bunch of fresh mint</li>
        <li>extra vergin olive oil</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Scoop out and chop the watermelon flesh into chunks, discarding the peel.</li>
        <li>Peel and finely slice the onion, crumble the feta, then pick the mint leaves, tearing any larger ones.</li>
        <li>Place it all into a bowl and combine. Drizzle over a little oil and season with black pepper.</li>
    </ol>
    Credits: <a href=https://www.jamieoliver.com/recipes/fruit-recipes/watermelon-feta-salad/ target="_blank">Jamie Oliver</a>
</article>

<article>
    <h1 id="starter2">Prawn Cocktail</h1>
    <h3>It serves 4 people and takes 15 minutes to cook.</h3>
    <img class=displayed src="images/prawncocktail.jpg" alt="a prawn cocktail starter">

    <h2>Ingredients</h2>
    <ul class="ingredients">
        <li>olive oil</li>
        <li>half a clove of garlic</li>
        <li>cayenne pepper</li>
        <li>8 unpeeled, large, raw tiger prawns</li>
        <li>quarter of an iceberg lettuce</li>
        <li>quarter of a cucumber</li>
        <li>1-2 ripe tomatoes</li>
        <li>1 sprig of fresh mint</li>
        <li>1 small punnet of salad cress</li>
        <li>50 g peeled little prawns</li>
        <li>100 g mixed white and brown crabmeat</li>
        <li>50 g brown shrimps , optional</li>
        <li>1 lemon</li>
    </ul>

    <br>

    For the Marie Rose Sause:
    <ul class="ingredients">
        <li>half a lemon</li>
        <li>1 swig of brandy</li>
        <li>1 pinch of cayenne pepper</li>
        <li>1 heaped teaspooon ketchup</li>
        <li>4 tablespoons mayonnaise, made from free-range eggs</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Heat a glug of oil in a pan over a high heat. Crush and add the garlic, then stir in 1 pinch of cayenne pepper and the tiger prawns (you can butterfly them first if you like).</li>
        <li>Toss the prawns for 3 to 4 minutes, or till cooked through. Remove from the heat and set aside.</li>
        <li>For the Marie rose sauce, combine the lemon juice with the remaining ingredients in a bowl and set aside.</li>
        <li>Shred the lettuce, dice the cucumber, thinly slice the tomato and pick the mint leaves, then layer in bowls or jars. Snip in most of the cress.</li>
        <li>Add the peeled prawns, dollop with marie rose sauce and finish with crabmeat, shrimps (if using) and more cress.</li>
        <li>Add a pinch of cayenne pepper and hang a hot prawn or two off the side of the bowl or jar. Serve with lemon wedges for squeezing over.</li>
    </ol>
    Credits: <a href=https://www.jamieoliver.com/recipes/seafood-recipes/prawn-cocktail/ target="_blank">Jamie Oliver</a>
</article>

<article>
    <h1 id="starter3">Cheese and Bacon Pinwheels</h1>
    <h3>It makes 30 pinwheels and takes 25 minutes to cook.</h3>
    <img class=displayed src="images/pinwheels.jpg" alt="cheese and bacon starters" >

    <h2>Ingredients</h2>
    <ul class="ingredients">
        <li>plain flour , for dusting</li>
        <li>500 g ready-made puff pastry</li>
        <li>2 tablespoons basil pesto</li>
        <li>12 thin slices higher-welfare smoked pancetta</li>
        <li>4 tablespoons grated Parmesan cheese</li>
        <li>1 tablespoon milk</li>
        <li>2 tablespoons sun-dried tomato pesto</li>
    </ul>

    <br>

    <h2>Method</h2>
    <ol class="method">
        <li>Preheat the oven to 180ºC/gas 4 and line a baking tray with greaseproof paper.</li>
        <li>Lightly dust a work surface with flour and divide the pastry into two evenly sized pieces. Roll one piece of the pastry out to roughly the size of an A4 sheet of paper (no thicker than 2mm), with the longer side nearest to you.</li>
        <li>Spread the green basil pesto evenly over the pastry, leaving a 1cm border at the top, and lay 8 of the pancetta slices vertically on the pastry.</li>
        <li>Scatter over half the grated Parmesan and roll the pastry up into a tight spiral cylinder, starting with the longer edge closest to you.</li>
        <li>Brush the top edge with a little milk to seal and, using a sharp knife, slice the cylinder into 1cm thick pinwheels.</li>
        <li>Arrange the pinwheels on your lined baking tray, flatten each one slightly with your hand and pop in the fridge to chill while you prepare the remaining pinwheels.</li>
        <li>Repeat the above steps with the second sheet of pastry but use the red sun-dried tomato pesto in place of green.</li>
        <li>Bake both batches of pinwheels for about 15 minutes, until crisp and golden. Serve warm.</li>
    </ol>
    Credits: <a href=https://www.jamieoliver.com/recipes/cheese-recipes/cheese-bacon-pinwheels/" target="_blank">Jamie Oliver</a>
</article>