<!--<section class="row">
    <section class="col-sm-6 col-md-4">
        <article class="thumbnail">
            <img src="#" alt="...">
            <section class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <button id="getButton" onclick="get('myproducts')">GET</button>
                <pre id="getResponse"></pre>
            </section>
        </article>
    </section>
</section>-->

<h1>{{title}}</h1>
<aside class="sidenav">

    <section class="categories whiteaside"><h1 class="sidenav">Categories</h1>
            <ul class="categoryinputs radiobuttons">
                <li><input type="radio" name="category" id="all" class="category" checked>  Select all</li>
                <li><input type="radio" name="category" id="dairy" class="category">  Dairy</li>
                <li><input type="radio" name="category" id="fruits" class="category">  Fruits</li>
                <li><input type="radio" name="category" id="snacks" class="category">  Snacks</li>
                <li><input type="radio" name="category" id="sweets" class="category">  Sweets</li>
                <li><input type="radio" name="category" id="desserts" class="category">  Desserts</li>
                <li><input type="radio" name="category" id="fats" class="category">  Fats</li>
                <li><input type="radio" name="category" id="italian" class="category">  Italian</li>
                <li><input type="radio" name="category" id="savoury" class="category">  Savoury</li>
                <li><input type="radio" name="category" id="gluten" class="category">  Gluten</li>
                <li><input type="radio" name="category" id="vegetables" class="category">  Vegetables</li>
                <li><input type="radio" name="category" id="nuts" class="category">  Nuts</li>
            </ul>
    </section>
    <br>
    <section class="orderProducts whiteaside"><h1 class="sidenav">Sort products by</h1>
        <ul class="orderbyinputs radiobuttons">
            <li><input type="radio" name="orderby" id="name" class="orderby" checked>  Name</li>
            <li><input type="radio" name="orderby" id="price" class="orderby">  Price</li>
        </ul>
    </section>
</aside>
<h2>Search for products</h2>
<input type="text" id="productSearch" placeholder="search for products">
<br>
<section id="productBox" class="row"></section>



