<!--<section class="row">
    <section class="col-sm-6 col-md-4">
        <article class="thumbnail">
            <img src="#" alt="...">
            <section class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <button id="getButton" onclick="get('myproducts')">GET</button>
                <pre id="getResponse"></pre>
            </section>
        </article>
    </section>
</section>-->

<h1>{{title}}</h1>
<aside class="sidenav">
    <section class="categories">
        <h1 class="sidenav">Favorites</h1>
        <ul>
            <li id="dairy" class="category">Dairy</li>
            <li id="meat" class="category">Meat</li>
            <li id="dairy" class="category">Dairy</li>
            <li id="dairy" class="category">Dairy</li>
            <li id="dairy" class="category">Dairy</li>
        </ul>
    </section>

    <section class="shoppinglist"><h1 class="sidenav">Shopping List</h1></section>
</aside>
<h2>Search for products</h2>
<input type="text" id="productSearch" placeholder="search for products">
<br>
<section id="productBox" class="row"></section>



